body{
	font-family: sans-serif,微軟正黑體;
}
.bar{
	background-color: #a8d0ed;
	color: black;
	font-size:30px;
}
.bar:hover{
	background-color: #99b4f6;
}
table{
	width: 500;
	table-layout: fixed;
	border-collapse: collapse;
}
th, td{
	text-align: center;
}
li{
	text-align: left;
	margin-left: 50px
}
.back{
	text-align: center;
	color: black;
}